$numberOfSearchTab: 5
$searchCharaTabActive: #ffd4d4
$searchCharaTabNonActive: #dd9595

.chara-search-tab-wrap
    width: auto
    margin: 0rem 2rem

.chara-search-tab-area
    font-size: 0
    padding: 0 55px
    white-space: nowrap

.chara-search-tab-area label
    width: 6rem
    display: inline-block
    padding: 14px 0 12px
    color: white
    background: $searchCharaTabNonActive
    text-align: center
    font-size: 13px
    cursor: pointer
    transition: ease 0.2s opacity
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    vertical-align: bottom
    transition: ease 0.2s
    margin: 10px 5px 0

.chara-search-tab-area label:hover
    opacity: 0.5

.chara-search-panel-area
    background: white
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    margin-bottom: 1rem
    border-top: 1rem solid $searchCharaTabActive
    border-bottom: 1rem solid $searchCharaTabActive
    border-radius: 0.8rem

.chara-search-tab-panel
    width: 100%
    padding: 1rem 0
    display: none
    background: $searchCharaTabActive

.chara-search-tab-panel input
    font-size: 14px
    letter-spacing: 1px
    text-align: left

@for $index from 1 through $numberOfSearchTab
    #chara_search_tab#{$index}:checked ~ .chara-search-tab-area .chara-search-tab#{$index}-label
        background: $searchCharaTabActive
        color: black

    #chara_search_tab#{$index}:checked ~ .chara-search-panel-area #chara_search_tab#{$index}
        display: block

.chara-search-rows
    padding: 0
    min-height: 28rem
    // overflow-y: scroll

    // &::-webkit-scrollbar-track
    //     background: $searchCharaTabActive

    // &::-webkit-scrollbar-thumb
    //     background: $searchCharaTabNonActive
    //     border-radius: 1rem
    //     scrollbar-width: 0.5rem

    // &::-webkit-scrollbar
    //     width: 0.5rem
    //     height: 1rem

.selected-chara-icon
    margin-top: -1rem
    margin-bottom: 1rem
    width: 5rem
    height: 5rem

.search-icon
    padding: 1.5rem
    width: 1.8rem
    height: 1.8rem

.clear-icon
    padding: 1.2rem
    margin-top: -1rem
    margin-bottom: 1rem
    width: 1.8rem
    height: 1.8rem

.atk-icon
    padding: 1rem
    width: 2rem
    height: 2rem

.def-icon
    padding: 1rem
    width: 2rem
    height: 2rem

.heart-icon
    padding: 0 0.5rem 0
    width: 1rem
    vertical-align: middle

.comment-data
    text-align: left
    margin: 1rem 1rem 0 1rem

.post-data
    display: flex
    justify-content: center

.post-time
    font-size: 1.2rem
    margin-right: 1rem

.like-num
    padding-right: 2rem
    vertical-align: middle
    text-align: center
    font-size: 1.2rem

.result-search-group
    border: solid 0.3rem red
    border-radius: 0.5rem
    width: 30rem
    margin-left: auto
    margin-right: auto
    margin-top: 1rem

.result-search-chara-icon
    padding: 0.4rem
    width: 3rem
    height: 3rem
