:root {
    --select-chara-type-active: #e1f9f9;
    --select-chara-type-non-active: #81b5b8;
}

.chara-select-tab-wrap {
    width: auto;
    margin: 0rem 2rem;
}
input[type='radio'] {
    display: none;
}
.chara-select-tab-area {
    font-size: 0;
    padding: 0 55px;
    white-space: nowrap;
}
.chara-select-tab-area label {
    width: 6rem;
    display: inline-block;
    padding: 14px 0 12px;
    color: white;
    background: var(--select-chara-type-non-active);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: ease 0.2s opacity;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
    transition: ease 0.2s;
    margin: 10px 5px 0;
}

.chara-select-tab-area label:hover {
    opacity: 0.5;
}
.chara-select-panel-area {
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1rem solid var(--select-chara-type-active);
    border-bottom: 1rem solid var(--select-chara-type-active);
    border-radius: 0.8rem;
}
.chara-select-tab-panel {
    width: 100%;
    padding: 1rem 0;
    display: none;
    background: var(--select-chara-type-active);
}
.chara-select-tab-panel input {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

#chara_select_tab1:checked ~ .chara-select-tab-area .chara-select-tab1-label {
    background: var(--select-chara-type-active);
    color: black;
}
#chara_select_tab1:checked ~ .chara-select-panel-area #chara_select_tab1 {
    display: block;
}

#chara_select_tab2:checked ~ .chara-select-tab-area .chara-select-tab2-label {
    background: var(--select-chara-type-active);
    color: black;
}
#chara_select_tab2:checked ~ .chara-select-panel-area #chara_select_tab2 {
    display: block;
}

#chara_select_tab3:checked ~ .chara-select-tab-area .chara-select-tab3-label {
    background: var(--select-chara-type-active);
    color: black;
}
#chara_select_tab3:checked ~ .chara-select-panel-area #chara_select_tab3 {
    display: block;
}

#chara_select_tab4:checked ~ .chara-select-tab-area .chara-select-tab4-label {
    background: var(--select-chara-type-active);
    color: black;
}
#chara_select_tab4:checked ~ .chara-select-panel-area #chara_select_tab4 {
    display: block;
}

.chara-select-rows {
    padding: 0rem 0rem;
    text-align: left;
    height: 17rem;
    overflow-y: scroll;
}

.chara-select-rows::-webkit-scrollbar-track {
    background: var(--select-chara-type-active);
}

.chara-select-rows::-webkit-scrollbar-thumb {
    background: var(--select-chara-type-non-active);
    border-radius: 1rem;
    scrollbar-width: 0.5rem;
}

.chara-select-rows::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
}

input.chara-icon {
    opacity: 0.8;
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
}
