:root {
    --search-chara-type-active: #ffc4c4;
    --search-chara-type-non-active: #de9c9c;
}

.chara-search-tab-wrap {
    width: auto;
    margin: 0rem 2rem;
}
input[type='radio'] {
    display: none;
}
.chara-search-tab-area {
    font-size: 0;
    padding: 0 55px;
    white-space: nowrap;
}
.chara-search-tab-area label {
    width: 6rem;
    display: inline-block;
    padding: 14px 0 12px;
    color: white;
    background: var(--search-chara-type-non-active);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: ease 0.2s opacity;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
    transition: ease 0.2s;
    margin: 10px 5px 0;
}

.chara-search-tab-area label:hover {
    opacity: 0.5;
}
.chara-search-panel-area {
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1rem solid var(--search-chara-type-active);
    border-bottom: 1rem solid var(--search-chara-type-active);
    border-radius: 0.8rem;
}
.chara-search-tab-panel {
    width: 100%;
    padding: 1rem 0;
    display: none;
    background: var(--search-chara-type-active);
}
.chara-search-tab-panel input {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

#chara_search_tab1:checked ~ .chara-search-tab-area .chara-search-tab1-label {
    background: var(--search-chara-type-active);
    color: black;
}
#chara_search_tab1:checked ~ .chara-search-panel-area #chara_search_tab1 {
    display: block;
}

#chara_search_tab2:checked ~ .chara-search-tab-area .chara-search-tab2-label {
    background: var(--search-chara-type-active);
    color: black;
}
#chara_search_tab2:checked ~ .chara-search-panel-area #chara_search_tab2 {
    display: block;
}

#chara_search_tab3:checked ~ .chara-search-tab-area .chara-search-tab3-label {
    background: var(--search-chara-type-active);
    color: black;
}
#chara_search_tab3:checked ~ .chara-search-panel-area #chara_search_tab3 {
    display: block;
}

#chara_search_tab4:checked ~ .chara-search-tab-area .chara-search-tab4-label {
    background: var(--search-chara-type-active);
    color: black;
}
#chara_search_tab4:checked ~ .chara-search-panel-area #chara_search_tab4 {
    display: block;
}

#chara_search_tab5:checked ~ .chara-search-tab-area .chara-search-tab5-label {
    background: var(--search-chara-type-active);
    color: black;
}
#chara_search_tab5:checked ~ .chara-search-panel-area #chara_search_tab5 {
    display: block;
}

.chara-search-rows {
    padding: 0rem 0rem;
    text-align: left;
    height: 17rem;
    overflow-y: scroll;
}

.chara-search-rows::-webkit-scrollbar-track {
    background: var(--search-chara-type-active);
}

.chara-search-rows::-webkit-scrollbar-thumb {
    background: var(--search-chara-type-non-active);
    border-radius: 1rem;
    scrollbar-width: 0.5rem;
}

.chara-search-rows::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
}

input.chara-icon {
    opacity: 0.8;
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
}
