.App {
    text-align: center;
}

.chara-select-box {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: #5989cf;
    background: #d1e7fb;
    border-bottom: solid 6px #b5cce2;
    border-radius: 1.5rem;
}

.chara-select-rows {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    text-align: left;
    height: 17rem;
    overflow-y: scroll;
}

.chara-select-rows::-webkit-scrollbar-track {
    background: #d1e7fb;
}

.chara-select-rows::-webkit-scrollbar-thumb {
    background: #afd5ff;
    border-radius: 2rem;
    scrollbar-width: 0.5rem;
}

.chara-select-rows::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
}

input.chara-icon {
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
}
